@model IEnumerable<AreaChangeModel>

    
<h1>Active Reports</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>AreaJson</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model)
        {
            <tr>
                <td>@report.Id</td>
                <td>@report.Description</td>
                <td>@report.AreaJson</td>
                <td>
                    <a href="@Url.Action("EditAreaChangeView", "Home", new { id = report.Id })">Edit</a> 
                    <a href="@Url.Action("DeleteAreaChange", "Home", new { id = report.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
   
